---
---

.area-welcome {
    // z-index: -1;
    background-color:#f94f4f;
    margin:0;
    padding-top:50px;
    color: white;
    text-align: center;
    font-family: Oxygen, sans-serif, serif;
    
}

h1 {
    font-size:400%;
}

p {
    font-size:250%;
    color:#747474;
}

strong {
    color: white;
}

a {
    font-size:150%;
}