<style>
    nav ul {
        margin:0;
        padding:0;
        padding-right: 10px;
        text-align: right;
    }
        
    nav ul>li {
        display: inline;
        
    }
    
    nav {
        float: auto;  
        background-color: goldenrod;
        height: 50px;
        font-size: 30px;
    }
    
    a {
        text-decoration: none;
        
    }
</style>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog.html">Blog</a>
        </li>
    </ul>
</nav>  