<style>
    nav ul {
        margin:0;
        padding:0;
        /*padding-right: 10px;*/
        text-align: right;
        color: #353535;
    }
        
    nav ul>li {
        display: inline;
        border-right: 3px solid black;
        padding-left: 4px
        
    }
    
    li:last-child {
        border-right: none;
    }
    
    nav {
        position: fixed;
        background-color: white;
        height: 60px;
        width: 100%;
        font-size: 30px;
        font-family: Oxygen;
        padding: 0;
        margin: 0;
       
    }
    
    
    a:link {
        color:#969696;
        text-decoration: none;
    }
    
    a:visited {
        color:#969696;
        text-decoration: none;
    }
    
    a:hover {
        color:#f94f4f;
        text-decoration: bolder;
    }
    
    a:active {
        color:#f94f4f;
        text-decoration: bold;
    }
        
</style>
<nav>
    <ul>
        <li><span style="padding-right: 60%">John Campbell</span></li>
        <li>
            <a href="/portfolio/"> Home</a>
        </li>
        <li>
            <a href="/portfolio/blog.html">Blog</a>
        </li>
        <li>
            <a href="/portfolio/resume.html">Resume</a>
        </li>
    </ul>
</nav>  