<style>
    nav ul {
        margin:0;
        padding:0;
        /*padding-right: 10px;*/
        text-align: right;
        color: #353535;
    }
        
    nav ul>li {
        display: inline;
        
    }
    
    nav {
        position: fixed;
        background-color: white;
        height: 40px;
        width: 100%;
        font-size: 30px;
        font-family: Oxygen;
        padding: 0;
        margin: 0;
        
    }
    
    
    a:link {
        color:#969696;
        text-decoration: none;
    }
    
    a:visited {
        color:#969696;
        text-decoration: none;
    }
    
    a:hover {
        color:#f94f4f;
        text-decoration: bolder;
    }
    
    a:active {
        color:#f94f4f;
        text-decoration: bold;
    }
        
</style>
<nav>
    <ul>
        <li>John Campbell</li>
        <li>|</li>
         
        <li>
            <a href="/portfolio/">Home</a>
        </li>
        <li>
            <a href="/portfolio/blog.html">Blog</a>
        </li>
        <li>
            <a href="/portfolio/resume.html">Resume</a>
        </li>
    </ul>
</nav>  